<h1>Dobro dosli!</h1>
<p>Web aplikacija sadrzi:</p>
<ul>
  <li><strong>Stranicu sa popisom evidencija</strong>. Tu je moguce pogledati listu postojecih evidencija, sa mogucnosti filtriranja po datumima. </li>
  <li><strong>Stranicu detalja odredjene evidencije</strong>. Tu je moguce pogledati detalje postojecih evidencija, azurirati ih ili izbrisati postojecu evidenciju</li>
  <li><strong>Stranicu sa popisom naseg osoblja</strong>.  Tu je moguce pogledati listu naseg osoblja</li>
  <li><strong>Stranicu sa popisom nasih pacijenata</strong>. Tu je moguce pogledati listu nasih pacijenata</li>
</ul>
