<h4>Kreiraj novu evidenciju</h4>
<br />



<form #createAdmission="ngForm" (ngSubmit)="onClickSubmit()">
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Izaberite pacijenta</label>
    <div class="col-sm-5">
      <select [(ngModel)]="newAdmission.patientId" name="patientId" id="patientId">
        <option *ngFor="let patient of patients" [ngValue]="patient.patientId">
          {{patient.nameSurname}} 
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Datum evidencije</label>
    <div class="col-sm-5">
      <input type="date" [(ngModel)]="newAdmission.dateAndTime" [min]="value" id="date" name="date">
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Doktor</label>
    <div class="col-sm-5">
      <select [(ngModel)]="newAdmission.staffId" name="staffId" id="staffId">
        <option *ngFor="let doctor of doctors" [ngValue]="doctor.staffId">
          {{doctor.name}} {{doctor.surname}}
        </option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [(ngModel)]="newAdmission.isEmergency" id="gridCheck1" name="checkbox">
        <label class="form-check-label" for="gridCheck1">
          Da li je hitni prijem?
        </label>
      </div>
    </div>
  </div><br />
  <h4>Detalji nalaza za evidenciju</h4><br />
  <div class="row mb-3">
    <label class="col-sm-4 col-form-label">Opis nalaza</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" [(ngModel)]="newAdmission.description" id="inputEmail3" name="email">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Spasi</button>
</form>

